BasedOnStyle: Google

TabWidth: 2
ColumnLimit: 80

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlwaysBreakBeforeMultilineStrings: true
BreakStringLiterals: true

IncludeBlocks: Regroup

BitFieldColonSpacing: Both
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false

BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
